.AppButton {
  padding: 8px 10px;
  bottom: 1px solid #ccc;
  font-weight: bold;
  text-transform: uppercase;

  &:focus, &:active {
    outline: none;
  }

  &:hover {
    background-color: #f0ff1e;
  }
}